* {padding: 0; margin:0;}
body {background-color: #f7f1e3;}

.containermenu {width: 1150px; margin: auto; padding-top: 18px; 
    padding-bottom: 18px; display: flex; overflow: visible; position: relative; background-color: #0a3d62;}

.menukiri {float:left; width: 270px; text-align: left; 
    font-family: sans-serif; font-size: 18px;line-height: 45px; flex:1 ;}

.menukiri h1 {color: white; padding-left: 10px;}
.menukanan {float:right; width:900px; flex:2 ; padding-right: 10px; }    /*untuk mendistribusikan ruang sebanyak banyaknya */

.menukanan img {width:20px; padding-top: 8px;}
.menukanan a:hover {color: #fa983a;}

nav ul li { float: right; list-style: none; 
    background-color: #3c6382; position: relative; 
}
nav ul li a {margin-right: 5px; text-decoration: none;
    padding: 3px 15px; text-align: left; color: white;font-family: sans-serif;
}
nav ul li ul {display: none; text-align: left;  float:left; width: 200px;}
nav ul li:hover > ul {display:block;}
/*tanda > digunakan agar saat di dekatkan cursor, pulldown menu
tidak langsung keluar semua */


nav {position:relative; background:#FFFFF; height: 40px;
    line-height: 40px;
}
nav ul li ul {position: absolute; z-index: 999; right: 0px; left: auto;}

nav ul li ul li {float: none; position:relative; padding: 10px 10px; width: 200px;}

nav ul ul ul {left: 100%; top: 0; width: 200px;}



.article1 {margin-top: 50px; padding-top: 50px; padding-bottom: 50px;}
.kotakbiodata {width: 1150px;  overflow: hidden; margin-left: auto; margin-right: auto; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.article1 .kotakbiodata .biodata {float: left; margin-right: 50px; width: 540px;}

/* .article1 .kotakbiodata .biodata button {font-size: 20px; padding: 5px 20px; background-color: black; color: white; 
    border-radius: 5px; margin-top: 35px; font-family: sans-serif; cursor: pointer;
} */

.article1 .kotakbiodata .fotobiodata {float: right;}
.article1 img {width: 350px;}

.articlekampus {background-color: #0a3d62; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.articlekampus .kotakkampus {width: 1150px; margin-left: auto; margin-right: auto;  margin-top: 50px; 
    overflow: hidden; padding-top: 30px; padding-bottom: 30px;}

.articlekampus .kotakkampus .kiri {float:left; width: 700px;}

.articlekampus .kotakkampus .kiri h1 {float:left; width: 700px;  color: aliceblue; margin-bottom: 20px;}

.articlekampus .kotakkampus .kanan  {margin-top: 50px; color: aliceblue;}


.prodi {background-color: #dfe4ea;}
.kotakprodi {width: 1150px;  overflow: hidden; margin-left: auto; margin-right: auto; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; padding-top: 30px; padding-bottom: 30px;}

.kotakprodi img {width: 50px;}

.kotakprodi .kiri {width:200px; float:left; margin-left: 180px;}
.kotakprodi .tengah {width:200px; float:left; margin-left: 100px;}
.kotakprodi .kanan {width:200px; float:left; margin-left: 100px;}


.prodipilihan {width: 1150px;  overflow: hidden; margin-left: auto; margin-right: auto; margin-top: 30px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.prodipilihan .kiri {width: 500px; float: left;}
.prodipilihan .kanan img {width: 350px; float: right;}